ACCESS_TOKEN_EXPIRE_MINUTES=
ALLOWED_ORIGINS=
APP_ENV=
APP_NAME=
DATABASE_URL=
GEMINI_API_KEY=
HOST=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
REFRESH_TOKEN_EXPIRE_DAYS=
SECRET_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USER=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_API_PROXY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=